
 #header{
    padding: 20px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #e3e3e3;
     span{
        font-size: 24px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        
         }
      img {
          width: 100%;
          }

      ul{
        margin: 0px;
          li{
            
            text-transform: uppercase;
            font-size: 14px;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            line-height: 1.66;
            margin-left: 12%;
            list-style: none;
            }
          }

        }

        span{
          &:after{
            content: '.';
            color: #3333ff;
          }
        }